/* ОБЩИЙ СТИЛЬ ДЛЯ ВСЕХ СТРАНИЦ */

:root {
  /* IRIS */
  --primary-text-color: #4d5ae5;

  /* OCEAN */
  --primary-text-color-active: #404bbf;

  /* NAVY_BLUE */
  --title-text-color: #2e2f42;

  /* SLATE */
  --body-text-color: #434455;

  /* CORNFLOVER */
  --accent-color: #e7e9fc;

  /* _WHITE_ */
  --page-background-color: #ffffff;

  /* CLOUD */
  --footer-text-color: #f4f4fd;

  /* LIGHT SLATE */

  --subtle-text-color: #8e8f99;

  /* Время перехода и кубик (функция распределения времени) */

  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  Не нужно ставить так как поставили уже нормализатор*/
/*
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
} */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

body {
  color: #434455;
  background-color: var(--page-background-color);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* Не нужно ставить так как поставили уже нормализатор
    margin: 0; */
}

h2,
h3 {
  color: var(--body-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
/* Убираем нумерацию и иное маркирование в списках */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Убираем подчеркивание у ссылок */
.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-style {
  display: flex;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-style {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo-style {
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .logo-style {
    margin-right: 0;
  }
}

.nav-logo {
  color: var(--title-text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16px;
}

.site-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.site-nav .link {
  /* делаем область на которую кликать больше */
  position: relative;

  display: block;
  padding: 24px 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;

  transition: color var(--transition-duration-and-func);
}

/* Стиль для элементов списка (номер телефона и почта в шапке) ПРИ НАВЕДЕНИИ*/
.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}

.site-nav .current {
  color: #404bbf;
}
/* задаем  подчеркивание ссылке текущей странички */
.current::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  outline: 1px solid var(--primary-text-color-active);
  background-color: #404bbf;
  border-radius: 2px;
}

/* Стиль для элементов списка (номер телефона и почта в шапке */
.header-address {
  margin-left: auto;

  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;

  padding: 24px 0;
}

/* Задаем флекс для списка (номер телеона и почта)  */
.header-address-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-address-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-address-list {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (min-width: 1157px) {
  .header-address-list .item {
    margin-right: 40px;
  }
}

.header-address-list .item:last-child {
  margin-right: 0;
}

/* Стиль для элементов списка (номер телефона и почта в шапке) */
.header-address .link {
  letter-spacing: 0.02em;
  color: var(--body-text-color);

  transition: color var(--transition-duration-and-func);
}

/* Применяем отступ для кнопок c телефоном и почтой
Можно с not last child
.header-address .item + .item {
margin-left: 40px;
} */

/* Стиль для элементов списка (номер телефона и почта в шапке) ПРИ НАВЕДЕНИИ*/
.header-address .link:hover,
.header-address .link:focus {
  color: #404bbf;
}

/* Стиль для всех элементов р */
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ======================== МОБИЛЬНОЕ МЕНЮ ================= */

.mobile-menu-open {
  padding: 0;
  background: transparent;

  border: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-open__icon {
  stroke: var(--title-text-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-right: 60px;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: var(--page-background-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;

  border: 1px solid #2e2f42;
  background: #e7e9fc;
  color: #2e2f42;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 284px;
}

.mobile-menu .link {
  display: block;
  color: #2e2f42;
  text-decoration: none;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration-and-func);
}

.mobile-menu .item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
  color: #404bbf;
}

.mobile-menu-address-list .link {
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: inline-block;
  transition: color var(--transition-duration-and-func);
}

.mobile-menu-address-list .item:first-child .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 40px;
}

.mobile-menu-address-list .item:last-child .link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--body-text-color);
  margin-bottom: 48px;
}

.mobile-menu-socialinks {
  display: flex;
  justify-content: space-between;
  width: 328px;
}

/* CUSTOMERS */

.cutomers-list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .cutomers-list {
    column-gap: 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .cutomers-list {
    flex-wrap: nowrap;
    row-gap: 0;
  }
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-item {
    width: calc((100% - 48px) / 3);
    max-width: 168px;
  }
}

@media screen and (min-width: 1158px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

.customers-link-icon {
  fill: currentColor;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text-color);
  transition: border-color var(--transition-duration-and-func),
    color 250ms var(--transition-duration-and-func);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
/* Footer */
.footer {
  background-color: var(--title-text-color);
  color: var(--footer-text-color);
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer .container {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer .container {
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1158px) {
  .footer-left-side {
    margin-right: 120px;
  }
}

@media screen and (max-width: 767px) {
  .footer-left-side {
    text-align: center;
    margin-right: 0;
  }
}

.footer-logo {
  color: var(--footer-text-color);
  margin-bottom: 16px;
}

.footer .logo-style {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .text {
  display: flex;
  width: 264px;

  text-align: left;

  margin-bottom: 72px;
}

@media screen and (max-width: 767px) {
  .footer .text {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1158px) {
  .footer .text {
    display: flex;
    width: 264px;

    text-align: left;

    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-center-side {
    margin-right: 80px;
  }
}

@media screen and (max-width: 767px) {
  .footer-center-side {
    margin-right: 0;
  }
}

.footer-center-side .title {
  color: var(--page-background-color);
  font-weight: 500;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .footer-center-side .title {
    text-align: center;
  }
}

.footer-socialinks {
  display: flex;
  gap: 16px;

  margin-bottom: 72px;
}
@media screen and (max-width: 767px) {
  .footer-socialinks {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-socialinks {
    margin-bottom: 0;
  }
}

.footer-socialinks-link {
  display: flex;

  background-color: var(--primary-text-color);

  border-radius: 50%;

  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  padding: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socialinks-link:hover,
.footer-socialinks-link:focus {
  background-color: #31d0aa;
}

.socialinks-item-icon {
  fill: var(--footer-text-color);
}

.subscribe-title {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .subscribe-title {
    text-align: center;
  }
}

.subscribe-form-wrapper {
  display: block;
}

@media screen and (min-width: 768px) {
  .subscribe-form-wrapper {
    display: flex;
    gap: 24px;
  }
}

.subscribe-form-input {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  color: var(--page-background-color);

  padding: 8px 16px;
  width: 398px;

  transform: border-color var(--transition-duration-and-func),
    outline var(--transition-duration-and-func);

  margin-bottom: 16px;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .subscribe-form-input {
    width: 264px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .subscribe-form-input {
    opacity: 1;
  }
}

.subscribe-form-input::placeholder {
  color: var(--page-background-color);
  background-color: transparent;
}

.subscribe-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.contact-form-subscribe-btn {
  background-color: var(--primary-text-color);
  color: var(--page-background-color);

  border-radius: 4px;

  font-weight: 500;
  letter-spacing: 0.04em;

  min-width: 165px;
  height: 40px;

  padding: 8px 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;

  border: none;

  transform: background-color var(--transition-duration-and-func);
}

@media screen and (max-width: 767px) {
  .contact-form-subscribe-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-form-subscribe-btn:hover,
.contact-form-subscribe-btn:focus {
  background-color: var(--primary-text-color-active);
}

/* СТИЛИ ГЛАВНОЙ СТРАНИЦЫ */

/* BUTTON */
.main-button {
  background-color: var(--primary-text-color);
  color: var(--page-background-color);

  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  text-align: center;
  align-items: center;
  letter-spacing: 0.04em;
  line-height: 1.5;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;

  margin-right: auto;
  margin-left: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--primary-text-color-active);
}

/* СЕКЦИЯ 1 (главная)*/
.hero {
  padding: 188px 0;

  text-align: center;

  max-width: 1440px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--title-text-color);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 436px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    height: 600px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.no-padding {
  padding-top: 0;
  padding-bottom: 120px;
  display: none;
}

@media screen and (min-width: 1158px) {
  .no-padding {
    display: block;
  }
}

/* Стиль главного заголовка страницы (h1) */
.hero-title {
  color: var(--page-background-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
}

/* СЕКЦИЯ 2 */
.goals-list p {
  text-align: left;
}
/* Общий стиль для аналогчиных заголовков секции  2 и 4 */
.team-member .title,
.portfolio-items-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  margin-top: 0;
  margin-bottom: 8px;
}

.team-member .title {
  text-align: center;
}

/* Общий стиль для аналогчиных абзацев секции  2 и 4 */
.goals-list p,
.team-list p,
.portfolio-items .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

/* Общий стиль flexBox для аналогчиных списков */

.screens-list {
  display: flex;
}

.goals-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .goals-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
  }
}

.goals-list .title {
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  margin-top: 0;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .goals-list .title {
    text-align: center;
  }
}

@media screen and (min-width: 1158px) {
  .goals-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.goals-list .item {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .goals-list .item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .goals-list .item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
}

.goals-list-icon {
  display: flex;
  background: var(--footer-text-color);
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1157px) {
  .goals-list-icon {
    display: none;
  }
}

/* СЕКЦИЯ 3 */

.section .section-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 72px;
}

.screens-list {
  column-gap: 24px;
}

.screens-list .item {
  width: calc((100%-48px) / 3);
  border: 1px solid var(--accent-color);
}
/* СЕКЦИЯ 4 */
.team {
  background-color: #f4f4fd;
}

.team-list {
  column-gap: 24px;

  justify-content: center;
}

/* Стили для элементов ли с карточками членов команды */

.team-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    row-gap: 0;
  }
}

.team-member {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 72px;

  width: 264px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .team-member {
    /* width: calc((100%-24px) / 2); */
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team-member {
    /* width: calc((100%-72px) / 4); */

    margin-bottom: 0;
  }
}

.team-member > img {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .team-member > img {
    margin-left: 0;
    margin-right: 0;
  }
}

.team-member > .member-and-position {
  padding: 32px 0;
}

.team .text {
  text-align: center;
  margin-bottom: 8px;
}

/* Стили для ярлычков социальных сетей */
.socialinks {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.socialinks-item {
  width: 40px;
  height: 40px;
}

.socialinks-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-text-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialinks-link-icon {
  fill: var(--footer-text-color);
}

.socialinks-link:hover,
.socialinks-link:focus {
  background-color: var(--primary-text-color-active);
}

/* МОДАЛЬНОЕ ОКНО начало */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 408px;
  min-height: 576px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration-and-func);
}

.close-button {
  position: absolute;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;

  width: 24px;
  height: 24px;
  top: 24px;

  padding: 0;

  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: background-color var(--transition-duration-and-func),
    border var(--transition-duration-and-func);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.button-close-icon {
  fill: var(--title-text-color);
  transition: fill var(--transition-duration-and-func);
}

.close-button:hover .button-close-icon,
.close-button:focus .button-close-icon {
  fill: #ffffff;
}

.contact-form {
  padding: 72px 24px 24px 24px;

  display: flex;
  flex-direction: column;
}

.modal-title {
  text-align: center;
  margin-bottom: 16px;
}

.contact-form-field {
  margin-bottom: 8px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  font-size: 12px;
  color: var(--title-text-color);

  transition: border-color var(--transition-duration-and-func);
}

.contact-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.contact-form-input-desc {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);

  margin-bottom: 4px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.contact-link-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--title-text-color);

  transition: fill var(--transition-duration-and-func);
}

.contact-form-input:focus + .contact-link-icon {
  fill: var(--primary-text-color);
}

.contact-form-message {
  font-size: 12px;
  color: var(--title-text-color);
}

.contact-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);

  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.contact-form-submit-btn {
  display: block;
  align-self: center;

  min-width: 169px;
  height: 56px;
  padding: 16px 32px;

  margin-right: auto;
  margin-left: auto;

  background-color: var(--primary-text-color);
  color: var(--page-background-color);

  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  text-align: center;
  align-items: center;
  letter-spacing: 0.04em;
  line-height: 1.5;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color var(--transition-duration-and-func);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--primary-text-color-active);
}

/* Убираем возможность изменения размера окошка для заполнения графы Comment пользователем */
.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border-color var(--transition-duration-and-func);
}

.contact-form-message:focus {
  border-color: #4d5ae5;
  outline: none;
}

.privacy-policy-link {
  color: #4d5ae5;
}

.contact-form-check-desc {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);

  margin-bottom: 24px;
}

.contact-form-check-desc::before {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;

  margin-right: 8px;
}

.contact-form-check:checked + .contact-form-check-desc::before {
  background: var(--primary-text-color-active);

  border-color: var(--primary-text-color-active);

  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: 10px 8px;
  background-position: 50% 50%;
}

.contact-form-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  transition: border-color var(--transition-duration-and-func);
}

.contact-form-check:focus + .contact-form-check-desc::before {
  border-color: rgba(46, 47, 66, 0.4);
}

/* МОДАЛЬНОЕ ОКНО конец */

/* ================ СТИЛИ СТРАНИЦЫ ПОРТФОЛИО ================ */
.porfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.porfolio-nav {
  display: flex;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .porfolio-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .porfolio-nav {
    margin-bottom: 72px;
  }
}

.potfolio-nav-buttons {
  color: #4d5ae5;
  background-color: #f4f4fd;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 1.5;

  cursor: pointer;

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  padding: 12px 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.potfolio-nav-buttons:hover,
.potfolio-nav-buttons:focus {
  color: #ffffff;
  background-color: var(--primary-text-color-active);

  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-items {
  display: block;
}

/* Задаем флекс для списка с фотками. Необходимо сделать 3 на строке,
а остальныеи перенести ниже, а так же сделать внешние отступы вправо
по 24px на все фотки кроме крайних в ряду */
@media screen and (min-width: 768px) {
  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-items {
    row-gap: 48px;
  }
}

.portfolio-items .item {
  background: var(--page-background-color);
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-items .item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-items .item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-items .examples {
  padding: 32px 16px;
  border-top: none;
}

.portfolio-items .link {
  display: inline-block;
  border: 1px solid #e7e9fc;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items .link:hover,
.portfolio-items .link:focus {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-items .link:hover .hidden-text,
.portfolio-items .link:focus .hidden-text {
  transform: translateY(0%);
}

/* ===== Делаем при на ведении на картинки порфолио - текст на картинке =====*/
.portfolio-items-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow-y: scroll;

  background-color: var(--primary-text-color);
  color: var(--footer-text-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items-link-wrapper:hover .overlay,
.portfolio-items-link-wrapper:focus .overlay {
  transform: translateY(0);
}
